/* Zach Rohde
   3-2-24
   CSS style sheet for bioSite page.*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, aside, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  }

  /* styles rules for body and images */
body {
  background-color: #2d2f1baf;
}

img {
  width: 100%;
  height: 50%;
  display: block;
}

figure img {
  width: 100%;
  height: 50%;
}

.grid img {
  width: 100%;
  height: auto;
}

.grid figcaption {
  font-size: 1em;
  padding: 2%;
  text-align: center;
}

/* style rules for mobile viewport */
h1 {
  font-family: 'Emblema One', system-ui;
}

h3 {
  font-family: 'Lora', serif;
}

/* style rules to show mobile class and hide tablet-desktop class */
.mobile {
  display: block;
}

.tablet-desktop {
  display: none;
}

/* style rules for header area */
header img {
  width: auto;
  height: 785px;
  margin: auto;
}

h1 {
  padding: 2%;
  text-align: center;
  }

h3 {
  padding: 2%;
  text-align: center;
}

/* style rules for navigation area */
nav {
  background-color: #494949;
  border: 8px solid black;
  background-image: linear-gradient(to bottom, #000000, #858585);
}

nav ul {
  list-style-type: none;
  text-align: center;
  font-size: 1em;
}

nav li {
  display: block;
  font-weight: bold;
  border-top: .5px solid #000000;
}

nav li a {
  display: block;
  font-family: Geneva, Arial, sans-serif;
  color: #ffffff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-decoration: none;
}

/* style rules for main content */
main {
  padding: 2%;
  font-family: 'Lora', serif;
}

main p {
  font-size: 1.25em;
}

main h3 {
  padding-top: 2%;
}

main ul {
  list-style-type: square;
}

.tel-link {
  background-color: #4d3319;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.action {
  font-size: 1.75em;
  font-weight: bold;
}

.round {
  border-radius: 6px;
}

#info p {
  margin: auto;
  padding: 2% 2% 2% 2%;
  border: solid black;
  background-color: #b7b7b7;
  font-size: 1em;
}
#info img {
  padding: 2% 0% 2% 0%;
}


aside {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow:4px 4px 10px #000000;
}

figure {
  max-width: 350px;
  border: 4px solid #000000;
  box-shadow: 6px 6px 10px #000000;
  margin: 2% auto;
}

figcaption {
  padding: 2%;
  border-top: 4px solid #000000;
  color: #fff;
}

.contact {
  text-align: center;
}

/* style rules for main content */
main {
padding: 2%;
font-family: verdana, arial, sans-serif;
}

main p {
  font-size: 1.25em;
}

main h3 {
  padding: 2%;
}

main ul {
  list-style: square;
}

.external-link {
  color: #4d3319;
  font-weight: bold;
  font-style: italic;
}

.action {
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

#contact {
  text-align: center;
}

.tel-link {
  background-color: #2a1f14;
  padding: 2%;
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.tel-link a {
  color: #f6eee4;
  text-decoration: none;
  font-weight: bold;
}

/* style rules for footer content */
footer {
  text-align: center;
  font-size: .85em;
  background-color: #000000;
  color: #f6eee4;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
}

footer a {
  color: #f3e6d8;
  text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {

/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
.tablet-desktop {
  display: block;
}

.mobile {
  display: none;
}

/* tablet Viewport: Style rules for nav area */
nav li {
  border-top: none;
  display: inline-block;
  font-size: 1.25em;
  padding: 0.5em;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
aside p {
  grid-column: 1 / span 2;
}

/*style rules for main area columns*/
#fullwrapper {
  width: auto;
  border: 1px solid rgb(181, 181, 181);
}

#welcome {
width: auto;
float: left;
border: 1px solid black;
background-color: #dbdbdb;
padding: 1% 1% 1% 1%;
}

#bio {
border: 1px solid black;
background-color: #b7b7b7;
padding: 1% 1% 1% 1%;
}

#hobby {
  border: 3px solid rgb(255, 255, 255);
  padding: 2% 2% 2% 2%;
  background-color: #000;
  box-shadow: 6px 6px 10px #000000;
}

#shooting {
  border: 3px solid rgb(252, 252, 252);
  padding: 2% 2% 2% 2%;
  background-image: linear-gradient(to top, #fafafa, #434242);
}

#shooting img {
  display: inline-block;
  width: auto;
  height: 400px;
}

#church {
  border: 3px solid black;
  border-top: 5px solid black;
  padding: 2% 2% 2% 2%;
  background-image: linear-gradient(to right, #f6eee4, #fed105);
}

#church img {
  display: inline-block;
  width: auto;
  height: 400px;
}

#guns {
  border: 3px solid black;
  padding: 2% 2% 2% 2%;
  background-image: linear-gradient(to bottom, #fbfbfb, #575757);
}

#guns img {
  display: inline-block;
  width: auto;
  height: 400px;
}

#serving img {
  max-height: 10%;
  max-width: 5%;
  margin: 3% 3% 3% 3%;
  display: block;
}

.long {
  width: auto;
  height: 200px;
  margin: auto;
}

.group {
  width: auto;
  height: fit-content;
  margin: auto;
}

}

/* Media Query for Large Desktop Viewport */
@media screen and (min-width 1921px), print {

body {
  background-image: linear-gradient(to right, #f6eee4, #919191);
}

#fullwrapper {
  width: 1920px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: #f6eee4;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  border: 2px solid rgb(0, 0, 0);
}

.grid img {
  width: auto;
  height: 50%;
}

aside p {
  grid-column: 1 / span 4;
  font-size: 3em;
}

}
/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {

/* Desktop Viewport: Style Rules for nav area */
nav li {
  font-size: 2.0em;
}

nav li a {
  padding: 0.5em 1.5em 0.5em 1.5em;
}

nav li a:hover {
  color: #000000;
  background-color: #ffffff;
  opacity: 0.5;
}

/* Desktop Viewport: Style rules for main content*/
#info h1 h2 p {
  margin-left: 5%;
}

.grid {
  display: grid;
  box-shadow: 6px 6px 10px #000000;
  grid-template-columns:auto auto auto;
  grid-gap: 20px;
  border: 3px solid black;
  padding: 2% 2% 2% 2%;
  margin-top: 5%;
  background-image: linear-gradient(to bottom, rgb(160, 160, 160), rgb(44, 44, 44));
}

aside p {
  grid-column: 1 / span 3;
  font-size: 2em;
  color: #fff;
}

}

/* Media Query for Print */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }

}